<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="JsonCollectionParser Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
